body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 18px;
  font-weight: 300;
}

h2 {
  font-size: 12px;
  font-weight: 900;
}

h3 {
  font-size: 13px;
  font-weight: 500;
}

img {
  width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  width: 100px;
  padding: 5px 15px;
  background: transparent;
  outline: none;
  border: 1px solid #29f29c;
  border-radius: 13px;
  color: white;
  display: flex;
  align-items: center;

  transition: all 0.1s linear;
}

button:hover {
  cursor: pointer;
  background: #29f29c;
}

button > img {
  width: 30%;
  margin-right: 10px;
}
